.login-form {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: #333;
}

.login-form label {
  width: 300px;
  display: inline-block;
  margin-top: 1rem;
  color: #333;
}
.login-form input {
  width: 100%;
  padding: 0.3rem 0.5rem;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
}

.login-form button {
  margin-top: 1rem;
}
