header {
  font-size: 2rem;
  padding-bottom: 2rem;
  position: relative;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

header h1 {
  font-size: 1.5rem;
}

header nav {
display: flex;
align-items: center;
}

header a, header li{
  display: inline-block;
}

header a {
  font-size: 1rem;
  text-transform: uppercase;;
  color:white;
  padding:1rem
}
header a h1:hover, header a:hover h1{
color:white;
}