@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");

:root {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #005872;
  --secondary-color: #00446b;
  --highlight-color: #03a8db;
  --dark-color: rgb(36, 36, 36);
  --light-color: #f9f9f9;
  --light-grey: #ccc;
  background-color: var(--dark-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--secondary-color);
}

main {
  min-height: calc(100vh - 225px);
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin:auto;
}
